{% extends 'base.html.twig' %}

{% block title %}Изменение баланса организации {{ firm.nameShort }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('firms') }}">Организации</a></li>
    <li class="breadcrumb-item"><a href="{{ path('firms.balance.history', {'firmID': firm.id}) }}">Взаиморасчеты организации</a></li>
    <li class="breadcrumb-item">Изменение</li>
{% endblock %}

{% block body %}
    {{ include('app/firms/balanceHistory/_form.html.twig') }}
{% endblock %}