{% extends 'base.html.twig' %}

{% block title %}Закрытые прайсы{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {{ form_start(filter) }}

    {% embed 'tables/table_full.html.twig' %}

        {% block header_buttons %}
            {% if is_granted('create', 'DetailProviderPriceExclude') %}
                <li class="nav-item">
                    <a href="{{ path('exclude.prices.create') }}" class="nav-link">
                        <i class="fas fa-plus" title="Добавить закрытый прайс"></i>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('delete', 'DetailProviderPriceExclude') %}
                <li class="nav-item">
                    <a href="{{ path('exclude.prices.deleteSelected') }}" class="nav-link text-danger" data-toggle="modal"
                       data-target="#modalConfirm" title="Удалить выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите удалить выделенные закрытые прайсы?')">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </li>
            {% endif %}
        {% endblock %}

        {% set reset_path = path('exclude.prices', {'reset' : 1}) %}
        {% block header_form %}
            <li class="nav-item">{{ form_widget(filter.inPage) }}</li>
            {{ parent() }}
            {% include 'tables/table_settings_dropdown_menu.html.twig' %}
        {% endblock %}

        {% block table_header %}
            <th>{{ pagination ? knp_pagination_sortable(pagination, 'Производитель', 'creater') : 'Производитель' }}</th>
            <th>{{ pagination ? knp_pagination_sortable(pagination, 'Номер', 'number') : 'Номер' }}</th>
            <th>{{ pagination ? knp_pagination_sortable(pagination, 'Прайс', 'providerPrice') : 'Прайс' }}</th>
            {% if is_granted('delete', 'DetailProviderPriceExclude') %}
                <th>Операции</th>
            {% endif %}
        {% endblock %}

        {% block filters %}
            <th>{{ form_widget(filter.createrID) }}</th>
            <th>{{ form_widget(filter.number) }}</th>
            <th>{{ form_widget(filter.providerPriceID) }}</th>
            {% if is_granted('delete', 'DetailProviderExclude') %}
                <th></th>
            {% endif %}
        {% endblock %}

        {% block table_body %}
            {% if pagination is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for providerPriceExclude in pagination %}
                <tr>
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': providerPriceExclude.excludeID} only %}
                    {% endif %}
                    <td>{{ providerPriceExclude.creater }}</td>
                    <td>{{ providerPriceExclude.number }}</td>
                    <td>{{ providerPriceExclude.providerPrice }}</td>
                    {% if is_granted('delete', 'DetailProviderPriceExclude') %}
                        <td class="text-center">
                            <div class="btn-group">
                                {% if is_granted('delete', 'DetailProviderPriceExclude') %}
                                    <a href="{{ path('exclude.prices.delete', {'id': providerPriceExclude.excludeID}) }}"
                                       onclick="deleteItem(this, 'Вы уверены, что хотите удалить закрытый прайс?')"
                                       data-toggle="modal"
                                       data-target="#modalConfirm"
                                       class="text-danger"
                                       title="Удалить закрытый прайс">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock %}

        {% block pagination %}
            {% if pagination is not null %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    {% endembed %}
    {{ form_end(filter) }}

{% endblock %}
