{% extends 'blocks/block_container.html.twig' %}

{% block header %}
    {{ include ('blocks/block_header_default.html.twig', {'header': 'Изменение наценок'}) }}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <h2>Изменение цены в прайс-листах</h2>
    {{ form_row(form.price_groupID) }}
    {{ form_row(form.is_price_group_fix) }}

    <h2>Изменение коэффициентов наценок по прайс-листам</h2>
    <table class="table table-striped">
        <tr>
            <th>Прайс</th>
            {% for opt in opts %}
                <th>
                    {{ opt.name }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            <th>
                <div class="d-flex">
                    <div class="col">
                        {{ form_widget(form.children['profit_0']) }}
                    </div>
                    <button type="button" class="col-auto btn btn-sm btn-alt-primary"
                            onclick="fillProviderPrice()"><i
                                class="fas fa-chevron-right"></i></button>
                </div>
            </th>
            {% for opt in opts %}
                <td>{{ form_widget(form.children['profit_' ~ opt.id], {'attr': {'onchange': 'changeProfit(this)'}}) }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>
                <div class="d-flex">
                    <div class="col">
                        {{ form_widget(form.children['profitPrice_0']) }}
                    </div>
                    <button type="button" class="col-auto btn btn-sm btn-alt-primary"
                            onclick="fillProviderPricePrice()"><i
                                class="fas fa-chevron-right"></i></button>
                </div>
            </th>
            {% for opt in opts %}
                <td>{{ form_widget(form.children['profitPrice_' ~ opt.id], {'attr': {'onchange': 'changeProfitPrice(this)'}}) }}</td>
            {% endfor %}
        </tr>
    </table>

    <h2>Изменение цены реализации по умолчанию</h2>

    {{ form_row(form.price1) }}
    {{ form_row(form.profit) }}

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('card.parts.prices', {'id': zapCard.id}) }}">Отменить</a>
    {{ form_end(form) }}

    <script>
        function fillProviderPrice() {
            var form = document.forms['form'];
            form.elements.forEach(function (el) {
                if (el.id && el.id.match('form_profit_(\\d+)')) {
                    var matches = el.id.match('form_profit_(\\d+)');
                    if (+matches[1] !== 0) {
                        document.getElementById('form_profit_' + +matches[1]).value = document.getElementById('form_profit_0').value;
                        changeProfit(document.getElementById('form_profit_' + +matches[1]))
                    }
                }
            });
        }

        function fillProviderPricePrice() {
            var form = document.forms['form'];
            form.elements.forEach(function (el) {
                if (el.id && el.id.match('form_profitPrice_(\\d+)')) {
                    var matches = el.id.match('form_profitPrice_(\\d+)');
                    if (+matches[1] !== 0) {
                        document.getElementById('form_profitPrice_' + +matches[1]).value = document.getElementById('form_profitPrice_0').value;
                        changeProfit(document.getElementById('form_profitPrice_' + +matches[1]))
                    }
                }
            });
        }

        function changeProfit(el) {
            var matches = el.id.match('form_profit_(\\d+)');
            if (+matches[1] !== 0) {
                document.getElementById('form_profitPrice_' + +matches[1]).value = Math.ceil((1 + el.value / 100) * +{{ zapCard.price }});
            }
        }

        function changeProfitPrice(el) {
            var matches = el.id.match('form_profitPrice_(\\d+)');
            if (+matches[1] !== 0) {
                document.getElementById('form_profit_' + +matches[1]).value = Math.floor((el.value / +{{ zapCard.price }} - 1) * 100 * 100) / 100;
                changeProfit(document.getElementById('form_profit_' + +matches[1]))
            }
        }
        {% for opt in opts %}
        changeProfit(document.getElementById('form_profit_' + {{ opt.id }}))
        {% endfor %}
    </script>
{% endblock %}