{% extends 'blocks/block_container.html.twig' %}
{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.number) }}
    {{ form_row(form.createrID) }}

    <button type="submit" class="btn btn-primary">Добавить</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('card.parts.zamena', {'id' : zapCard.id}) }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}