{% extends 'base.html.twig' %}

{% block title %}Замены ABCP{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {{ form_start(filter) }}

    {% embed 'tables/table_full.html.twig' %}

        {% block header_buttons %}
            {% if is_granted('delete', 'ShopZamenaAbcp') %}
                <li class="nav-item">
                    <a href="{{ path('zamenaAbcp.deleteSelected') }}" class="nav-link text-danger" data-toggle="modal"
                       data-target="#modalConfirm" title="Удалить выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите удалить выделенные замены?')">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </li>
            {% endif %}
        {% endblock %}

        {% set reset_path = path('zamenaAbcp', {'reset' : 1}) %}
        {% block header_form %}
            <li class="nav-item">{{ form_widget(filter.inPage) }}</li>
            {{ parent() }}
            {% include 'tables/table_settings_dropdown_menu.html.twig' %}
        {% endblock %}

        {% block table_header %}
            <th>{{ pagination ? knp_pagination_sortable(pagination, 'Производитель', 'creater') : 'Производитель' }}</th>
            <th>{{ pagination ? knp_pagination_sortable(pagination, 'Номер', 'number') : 'Номер' }}</th>
            <th>{{ pagination ? knp_pagination_sortable(pagination, 'Производитель замены', 'creater2') : 'Производитель замены' }}</th>
            <th>{{ pagination ? knp_pagination_sortable(pagination, 'Номер замены', 'number2') : 'Номер замены' }}</th>
            {% if is_granted('delete', 'ShopZamenaAbcp') %}
                <th>Операции</th>
            {% endif %}
        {% endblock %}

        {% block filters %}
            <th>{{ form_widget(filter.createrID) }}</th>
            <th>{{ form_widget(filter.number) }}</th>
            <th>{{ form_widget(filter.createrID2) }}</th>
            <th>{{ form_widget(filter.number2) }}</th>
            {% if is_granted('delete', 'ShopZamenaAbcp') %}
                <th></th>
            {% endif %}
        {% endblock %}

        {% block table_body %}
            {% if pagination is null %}
                <tr>
                    <td colspan="50" class="text-center">Задайте фильтр</td>
                </tr>
            {% elseif pagination is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for zamenaAbcp in pagination %}
                <tr>
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': zamenaAbcp.id} only %}
                    {% endif %}
                    <td>{{ zamenaAbcp.creater }}</td>
                    <td>{{ zamenaAbcp.number }}</td>
                    <td>{{ zamenaAbcp.creater2 }}</td>
                    <td>{{ zamenaAbcp.number2 }}</td>
                    {% if is_granted('delete', 'ShopZamenaAbcp') %}
                        <td class="text-center">
                            <div class="btn-group">
                                {% if is_granted('delete', 'ShopZamenaAbcp') %}
                                    <a href="{{ path('zamenaAbcp.delete', {'id': zamenaAbcp.id}) }}"
                                       onclick="deleteItem(this, 'Вы уверены, что хотите удалить замену?')"
                                       data-toggle="modal"
                                       data-target="#modalConfirm"
                                       class="text-danger"
                                       title="Удалить замену">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock %}

        {% block pagination %}
            {% if pagination is not null %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    {% endembed %}
    {{ form_end(filter) }}

{% endblock %}
