{% extends 'base.html.twig' %}

{% block title %}Методы оплаты клиентов{% endblock %}
{% block header %}Методы оплаты клиентов{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">Методы оплаты клиентов</li>
{% endblock %}

{% block body %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            <li class="nav-item">
                <a href="{{ path('shop.pay.types.create') }}" class="nav-link" title="Добавить метод оплаты"><i
                            class="fas fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('shop.pay.types.hide') }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Скрыть выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть выделенные методы?')"><i
                            class="far fa-eye-slash"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('shop.pay.types.unHide') }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Восстановить выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить выделенные методы?')"><i
                            class="far fa-eye"></i></a>
            </li>
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Наименование</th>
            <th>Операции</th>
        {% endblock %}

        {% block table_body %}
            {% if payTypes is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for payType in payTypes %}
                <tr
                        class="{{ payType.isHide ? 'text-muted' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': payType.shop_pay_typeID} only %}
                    {% endif %}
                    <td>{{ payType.name }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('shop.pay.types.edit', {'id': payType.shop_pay_typeID}) }}"
                               title="Изменить метод оплаты">
                                <i class="fas fa-edit"></i>
                            </a>
                            {% if (payType.users == 0) %}
                                <a href="{{ path('shop.pay.types.delete', {'id': payType.shop_pay_typeID}) }}"
                                   onclick="deleteItem(this, 'Вы уверены, что хотите удалить метод оплаты?')"
                                   data-toggle="modal"
                                   data-target="#modalConfirm"
                                   class="text-danger"
                                   title="Удалить метод оплаты">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
