{% extends 'blocks/block_container.html.twig' %}
{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.number) }}
    {{ form_row(form.length) }}
    {{ form_row(form.width) }}
    {{ form_row(form.height) }}
    {{ form_row(form.weight) }}

    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('order.pick.scan', {'id': user.id}) }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}