{% extends 'base.html.twig' %}

{% block title %}Изменение поколения {{ autoGeneration.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('auto.marka') }}">Марки</a></li>
    <li class="breadcrumb-item"><a href="{{ path('auto.model', {'auto_markaID': autoModel.marka.id}) }}">{{ autoModel.marka.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('auto.model.show', {'auto_markaID': autoModel.marka.id, 'id': autoModel.id}) }}">{{ autoModel.name }}</a></li>
    <li class="breadcrumb-item">{{ autoGeneration.name }} {{ autoGeneration.yearfrom }} - {{ autoGeneration.yearto is empty ? 'н.в.' : autoGeneration.yearto }}</li>
    <li class="breadcrumb-item">Текст запчасти</li>
{% endblock %}

{% block body %}
    {{ include('app/auto/generation/description/spare/_form.html.twig') }}
{% endblock %}