{% extends 'print.html.twig' %}

{% block title %}Расходная накладная{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between">
        <div>
            <img src="/images/logo_pa.png" width="150" height="32" alt="">
            <img src="/images/logo_hw.gif" width="114" height="30" alt="">
        </div>
        <div>
            <strong>+7 (495) 660-3630</strong><br>
            <strong>+7 (812) 407-2835</strong>
        </div>
    </div>
    <hr style="width:100%; border-bottom : 2px solid #000000;">
    <hr style="width:100%; border-bottom : 2px solid #000000;">

    <h2 class="text-center">Расходная накладная</h2>
    <hr style="width:100%; border-bottom : 2px solid #000000;">

    <table style="width: 100%">
        <tr>
            <td style="width: 100%">
                <table style="width: 100%">
                    <tr>
                        <td class="pb-1">Поставщик:&nbsp;</td>
                        <td class="w-100"><strong>&nbsp;</strong></td>
                    </tr>
                    <tr>
                        <td class="pb-1">Покупатель:&nbsp;</td>
                        <td><strong>{{ expenseDocument.user.fullNameWithPhoneMobile }}</strong></td>
                    </tr>
                    <tr>
                        <td class="pb-1">Адрес:&nbsp;</td>
                        <td>
                            <strong>{{ expenseDocument.user.mainContact ? expenseDocument.user.mainContact.fullAddressWithPhones }}</strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table style="border: 2px solid #000;" class="table table-sm table-bordered">
        <tr>
            <th width="5%">№</th>
            <th>Товар</th>
            <th width="15%">Номер</th>
            <th width="10%">Производитель</th>
            <th width="5%">Кол-во</th>
            <th width="5%">Ед.</th>
            <th width="10%">Цена</th>
            {% if discount > 0 %}
                <th width="5%">Скидка</th>
                <th width="10%">Цена со скидкой</th>
            {% endif %}
            <th width="10%">Сумма</th>
        </tr>
        {% for index, expense in expenses %}
            <tr>
                <td valign=top align="center">{{ index + 1 }}</td>
                <td valign=top>
                    {% if expense.zapCard and expense.zapCard.detailName %}
                        {{ expense.zapCard.detailName }}
                    {% endif %}
                </td>
                <td valign=top nowrap>{{ expense.number }}</td>
                <td valign=top nowrap>{{ expense.creater_name }}</td>
                <td valign=top align="center">{{ expense.quantity }}</td>
                <td valign=top align="center">шт</td>
                <td valign=top align="right" nowrap>{{ expense.price|number_format(2, ',', ' ') }}</td>
                {% if discount > 0 %}
                    <td valign=top align="center">{{ expense.discount|number_format(2, ',', ' ') }}%</td>
                    <td valign=top align="right"
                        nowrap>{{ expense.priceDiscount|number_format(2, ',', ' ') }}</td>
                {% endif %}
                <td valign=top align="right"
                    nowrap>{{ (expense.priceDiscount * expense.quantity)|number_format(2, ',', ' ') }}</td>
            </tr>
        {% endfor %}
    </table>
    <table style="width: 100%">
        <tr>
            <td>
                <table class="table table-sm table-borderless">
                    {% if discount > 0 %}
                        <tr>
                            <td align="right"><strong>Скидка:</strong></td>
                            <td align="right"><strong>{{ discount|number_format(2, ',', ' ') }}</strong></td>
                        </tr>
                    {% endif %}
                    {% if delivery > 0 %}
                        <tr>
                            <td align="right"><strong>Доставка:</strong></td>
                            <td align="right"><strong>{{ delivery|number_format(2, ',', ' ') }}</strong></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td width="90%" align="right"><strong>Итого:</strong></td>
                        <td width="10%" align="right"><strong>{{ sumWithDostavka|number_format(2, ',', ' ') }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><br>
                            <hr style="width:100%; border : 1px solid #000000;">
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><strong>Баланс клиента:</strong></td>
                        <td align="right">{{ user.balance|number_format(2, ',', ' ') }}</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>Сумма текущей отгрузки:</strong></td>
                        <td align="right">{{ sumDiscount|number_format(2, ',', ' ') }}</td>
                    </tr>
                    {% if sumWithDostavka > user.balance %}
                        <tr>
                            <td align="right"><strong>Клиенту необходимо доплатить:</strong></td>
                            <td align="right">{{ (sumDiscount - user.balance)|number_format(2, ',', ' ') }}{{ delivery > 0 ? ' + ' ~ delivery|number_format(2, ',', ' ') : '' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td align="right"><strong>Клиенту ничего не нужно доплачивать</strong></td>
                            <td align="right">&nbsp;</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
        <tr>
            <td><font style="font-size: 12px;">
                    1. Претензии по браку, выявленному в процессе эксплуатации, принимаются только при наличии копии
                    наряда на выполнение работ по установке запчастей и акте об обнаруженном дефекте.<br>
                    Стоимость установки и демонтажа бракованной запчасти не возмещается.</font>
            </td>
        </tr>
        <tr>
            <td><font style="font-size: 12px;">
                    2. Обмен или возврат товара (деталей) принимается в течении 14 дней (ст. 25 Закона о защите прав
                    потребителей), если указанный товар не был в употреблении, сохранен его товарный вид, упаковка, а
                    также товарный или кассовый чек.</font>
            </td>
        </tr>
        <tr>
            <td><font style="font-size: 12px;">
                    3. Претензий к внешнему виду, комплектации и качеству товара не имею.</font>
            </td>
        </tr>
        <tr>
            <td><font style="font-size: 12px;">
                    4. Детали поставляемые "под заказ" возврату не подлежат.</font>
            </td>
        </tr>
        <tr>
            <td width="100%"><br>
                <hr style="width:100%; border-bottom : 2px solid #000000;">
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="3" cellspacing="1" width="100%">
                    <tr>
                        <td width="15%"><strong>Отпустил</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>______________</td>
                        <td width="35%"></td>
                        <td width="15%"><strong>Принял</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>______________</td>
                        <td width="35%"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="center"><sup>подпись</sup></td>
                        <td></td>
                        <td></td>
                        <td align="center"><sup>подпись</sup></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="100%" valign="bottom" style="padding: 10px;"><em><font
                            style="font-size: 12px;">При возникновении вопросов по заказу, его комплектности и качеству
                        просим сразу при получении связаться с нами любым удобным для Вас способом: звонок, WhatsApp,
                        Viber на номер +7 (495) 660-3630 или напишите нам на parts@parts.ru</font></em></td>
        </tr>
    </table>


{% endblock %}
