{% extends 'base.html.twig' %}

{% block title %}Сборка отгрузки клиента {{ user.name }}{% endblock %}
{% block header %}
    Сборка отгрузки клиента {{ user.name }}
    {{ include('app/orders/goods/_user.html.twig') }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('orders') }}">Заказы</a>
    </li>
    <li class="breadcrumb-item">{{ user.name }}</li>
{% endblock %}

{% block body %}

    {% include ('app/orders/order/_tabs.html.twig') %}
    {% include ('app/orders/order/pick/shippingPlaces/index.html.twig') %}
    {% include ('app/orders/order/pick/scan/index.html.twig') %}

{% endblock %}