<table class="table table-striped border">
    <tr>
        <th>Производитель</th>
        <th>Номер</th>
        <th>Куда</th>
        <th>Ячейка</th>
        <th>Всего</th>
        <th>Собрано</th>
        <th></th>
    </tr>

    {% for expenseSklad in expenseSklads %}
        {% if (expenseSklad.quantityPicking > 0) %}
        <tr>
            <td>{{ expenseSklad.creater_name }}</td>
            <td>{{ expenseSklad.number }}</td>
            <td>{{ expenseSklad.zapSklad_to }}</td>
            <td>{{ expenseSklad.location|nl2br }}</td>
            <td>{{ expenseSklad.quantity }}</td>
            <td>{{ expenseSklad.quantityPicking }}</td>
            <td>
                <a href="{{ path('sklads.shipping.scan.delete', {'id': zapSklad.id, 'zapCardID': expenseSklad.zapCardID, 'zapSkladID_to': expenseSklad.zapSkladID_to}) }}"
                   onclick="deleteItem(this, 'Вы уверены, что хотите отменить сборку данной детали?')"
                   data-toggle="modal"
                   data-target="#modalConfirm"
                   class="text-danger"
                   title="Отменить сборку детали">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>