{% extends 'base.html.twig' %}

{% block title %}Марки автомобилей{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            <li class="nav-item">
                <a href="{{ path('auto.marka.create') }}" class="nav-link"
                   title="Добавить марку"><i
                            class="fas fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('auto.marka.hide') }}" class="nav-link" data-class="text-muted" data-toggle="modal"
                   data-target="#modalConfirm" title="Скрыть выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть выделенные марки?')"><i
                            class="far fa-eye-slash"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('auto.marka.unHide') }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Восстановить выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить марки?')"><i
                            class="far fa-eye"></i></a>
            </li>
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Наименование</th>
            <th>По-русски</th>
            <th>Операции</th>
        {% endblock %}

        {% block table_body %}
            {% if brands is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for brand in brands %}
                <tr class="{{ brand.isHide ? 'text-muted' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': brand.auto_markaID} only %}
                    {% endif %}
                    <td>{{ brand.name }}</td>
                    <td>{{ brand.name_rus }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('auto.model', {'auto_markaID': brand.auto_markaID}) }}"
                               title="Модели">
                                <i class="fas fa-car-alt"></i>
                            </a>
                            <a href="{{ path('auto.moto.model', {'auto_markaID': brand.auto_markaID}) }}"
                               title="Модели мотоциклов">
                                <i class="fas fa-motorcycle"></i>
                            </a>
                            <a href="{{ path('auto.marka.edit', {'id': brand.auto_markaID}) }}"
                               title="Изменить марку">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{{ path('auto.marka.delete', {'id': brand.auto_markaID}) }}"
                               onclick="deleteItem(this, 'Вы уверены, что хотите удалить марку?')"
                               data-toggle="modal"
                               data-target="#modalConfirm"
                               class="text-danger"
                               title="Удалить марку">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
