{% extends 'blocks/block_container.html.twig' %}
{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.providerPriceID) }}
    {{ form_row(form.createrID) }}
    {{ form_row(form.number) }}
    {{ form_row(form.quantity) }}
    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('income', {'page' : app.session.get('page/income')|default(1)}) }}">Отменить</a>
    {{ form_end(form) }}
{% endblock %}

