{% extends 'blocks/block_container.html.twig' %}

{% block header %}
    {{ include ('blocks/block_header_default.html.twig', {'header': 'Место'}) }}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.number) }}
    {{ form_row(form.length) }}
    {{ form_row(form.width) }}
    {{ form_row(form.height) }}
    {{ form_row(form.weight) }}
    {{ form_row(form.photo1) }}
    {{ form_row(form.photo2) }}

    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('shippings.show', {'id': shipping.id}) }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}