{% extends 'base.html.twig' %}

{% block title %}Добавление инвентаризации{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a
                href="{{ path('inventarizations', {'page' : app.session.get('page/inventarization')|default(1)}) }}">Инвентаризации</a>
    </li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {% embed 'blocks/block_container.html.twig' %}
        {% block content %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.dateofadded) }}
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a class="ml-3 btn btn-secondary"
               href="{{ path('inventarizations', {'page' : app.session.get('page/inventarization')|default(1)}) }}">Отменить</a>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}