{% extends 'base.html.twig' %}

{% block title %}Единицы измерения{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            {% if is_granted('create', 'EdIzm') %}
                <li class="nav-item">
                    <a href="{{ path('card.measures.create') }}" class="nav-link"
                       title="Добавить единицу измерения"><i
                                class="fas fa-plus"></i></a>
                </li>
            {% endif %}
            {% if is_granted('hide', 'EdIzm') %}
                <li class="nav-item">
                    <a href="{{ path('card.measures.hide') }}" class="nav-link" data-class="text-muted" data-toggle="modal"
                       data-target="#modalConfirm" title="Скрыть выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть выделенные единицы измерения?')"><i
                                class="far fa-eye-slash"></i></a>
                </li>
            {% endif %}
            {% if is_granted('unhide', 'EdIzm') %}
                <li class="nav-item">
                    <a href="{{ path('card.measures.unHide') }}" class="nav-link" data-class="text-muted"
                       data-toggle="modal"
                       data-target="#modalConfirm" title="Восстановить выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить единицы измерения?')"><i
                                class="far fa-eye"></i></a>
                </li>
            {% endif %}
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Наименование</th>
            <th>Кратко</th>
            <th>Код ОКЕИ</th>
            {% if is_granted('edit', 'EdIzm') or is_granted('delete', 'EdIzm') %}
                <th>Операции</th>
            {% endif %}
        {% endblock %}

        {% block table_body %}
            {% if measures is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for measure in measures %}
                <tr class="{{ measure.isHide ? 'text-muted' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': measure.ed_izmID} only %}
                    {% endif %}
                    <td>{{ measure.name }}</td>
                    <td>{{ measure.name_short }}</td>
                    <td>{{ measure.okei }}</td>
                    {% if is_granted('edit', 'EdIzm') or is_granted('delete', 'EdIzm') %}
                        <td class="text-center">
                            <div class="btn-group">
                                {% if is_granted('edit', 'EdIzm') %}
                                    <a href="{{ path('card.measures.edit', {'id': measure.ed_izmID}) }}"
                                       title="Изменить единицу измерения">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}
                                {% if (is_granted('delete', 'EdIzm')) %}
                                    <a href="{{ path('card.measures.delete', {'id': measure.ed_izmID}) }}"
                                       onclick="deleteItem(this, 'Вы уверены, что хотите удалить единицу измерения?')"
                                       data-toggle="modal"
                                       data-target="#modalConfirm"
                                       class="text-danger"
                                       title="Удалить единицу измерения">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
