{% extends 'blocks/block_container.html.twig' %}
{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.name_rus) }}
    {{ form_row(form.yearfrom) }}
    {{ form_row(form.yearto) }}
    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('auto.generation.show', {'auto_modelID': autoModel.id, 'id': autoGeneration.id}) }}">Отменить</a>
    {{ form_end(form) }}
{% endblock %}

