{% extends 'base.html.twig' %}

{% block title %}Добавление контакта организации {{ firm.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('firms') }}">Организации</a></li>
    <li class="breadcrumb-item"><a href="{{ path('firms.edit', {'id': firm.id}) }}">{{ firm.nameShort }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('firms.contacts', {'firmID': firm.id}) }}">Контакты</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {% include ('app/firms/_tabs.html.twig') %}
    {{ include('app/contacts/firms/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}