{% extends 'base.html.twig' %}

{% block title %}Страны{% endblock %}
{% block header %}Страны{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">Страны</li>
{% endblock %}

{% block body %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            <li class="nav-item">
                <a href="{{ path('countries.create') }}" class="nav-link" title="Добавить страну"><i
                            class="fas fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('countries.hide') }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Скрыть выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть выделенные страны?')"><i
                            class="far fa-eye-slash"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('countries.unHide') }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Восстановить выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить выделенные страны?')"><i
                            class="far fa-eye"></i></a>
            </li>
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Наименование</th>
            <th>Код</th>
            <th>Операции</th>
        {% endblock %}

        {% block table_body %}
            {% if countries is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for country in countries %}
                <tr class="{{ country.isHide ? ' text-muted' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': country.countryID} only %}
                    {% endif %}
                    <td>{{ country.name }}</td>
                    <td>{{ country.code }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('townRegions', {'countryID': country.countryID}) }}"
                               title="Регионы">
                                <i class="fas fa-city"></i>
                            </a>
                            <a href="{{ path('towns', {'countryID': country.countryID}) }}"
                               title="Города">
                                <i class="fas fa-building"></i>
                            </a>
                            <a href="{{ path('countries.edit', {'id': country.countryID}) }}"
                               title="Изменить страну">
                                <i class="fas fa-edit"></i>
                            </a>
                            {% if not country.noneDelete %}
                                <a href="{{ path('countries.delete', {'id': country.countryID}) }}"
                                   onclick="deleteItem(this, 'Вы уверены, что хотите удалить страну?')"
                                   data-toggle="modal"
                                   data-target="#modalConfirm"
                                   class="text-danger"
                                   title="Удалить страну">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
