{% extends 'base.html.twig' %}

{% block title %}Изменение ТК отгрузки {{ deliveryTk.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('shop.deliveryTk') }}">ТК отгрузки</a></li>
    <li class="breadcrumb-item">{{ deliveryTk.name }}</li>
{% endblock %}

{% block body %}
    {{ include('app/shop/deliveryTk/_form.html.twig') }}
{% endblock %}