<tr>
    {% if isShowDocType|default(false) %}
        <td>НП</td>
    {% endif %}
    <td>{{ doc.document_num }}</td>
    <td>{{ doc.dateofadded|date('d.m.Y') }}</td>
    <td>
        {% if is_granted('edit', 'Firm') %}
            <a href="{{ path('firms.edit', {'id': doc.firmID}) }}">{{ doc.from_name }}</a>
        {% else %}
            {{ doc.from_name }}
        {% endif %}
    </td>
    <td>
        {% if is_granted('edit', 'Firm') %}
            <a href="{{ path('firms.edit', {'id': doc.firmID}) }}">{{ doc.to_name }}</a>
        {% else %}
            {{ doc.to_name }}
        {% endif %}
    </td>
    <td class="text-right">{{ doc.sum|number_format(2, ',', ' ') }}</td>
    <td class="text-left">
        <div class="btn-group">
            {% if is_granted('index', 'SkladExpense') %}
                <a href="{{ path('sklads.expenses', {'form': {'document_num': doc.document_num}}) }}"
                   title="Перемещения">
                    <i class="fas fa-truck-loading"></i>
                </a>
            {% endif %}
            <a href="{{ path('perem.php', {'id': doc.id}) }}"
               title="Печать накладной ТОРГ-13" target="_blank">
                <i class="fas fa-print"></i>
            </a>
        </div>
    </td>
</tr>