<tr>
    {% if isShowDocType|default(false) %}
        <td>СФК</td>
    {% endif %}
    <td>{{ doc.document_num }}</td>
    <td>{{ doc.dateofadded|date('d.m.Y') }}</td>
    <td>
        {% if is_granted('edit', 'Firm') %}
            <a href="{{ path('firms.edit', {'id': doc.firmID}) }}">{{ doc.from_name }}</a>
        {% else %}
            {{ doc.from_name }}
        {% endif %}
    </td>
    <td>
        {% if is_granted('show', 'User') %}
            <a href="{{ path('users.show', {'id': doc.userID}) }}">{{ doc.to_name }}</a>
        {% else %}
            {{ doc.to_name }}
        {% endif %}
    </td>
    <td class="text-right">{{ doc.sum|number_format(2, ',', ' ') }}</td>
    <td class="text-left">
        <div class="btn-group">
            {% if is_granted('show', 'SchetFakKor') %}
                <a href="{{ path('schetFakKor.show', {'id': doc.id}) }}"
                   title="Просмотр корректирующего счета фактуры">
                    <i class="fas fa-edit"></i>
                </a>
            {% endif %}
            <a href="{{ path('schet_fak_kor.php', {'id': doc.id}) }}"
               title="Печать корректирующего счета фактуры" target="_blank">
                <i class="fas fa-print"></i>
            </a>
            <a href="{{ path('schet_fak_kor_excel.php', {'id': doc.id}) }}"
               title="Печать корректирующего счета фактуры в Excel" target="_blank">
                <i class="far fa-file-excel"></i>
            </a>
            {% if doc.edo %}
                <a href="{{ path('schet_fak_kor_xml.php', {'id': doc.id}) }}" download="{{ doc.to_name }}_корсчетфактура.xml"
                   title="Печать корректирующего счета фактуры в XML" target="_blank">
                    <i class="far fa-file-code"></i>
                </a>
            {% endif %}
        </div>
    </td>
</tr>