{% extends 'base.html.twig' %}

{% block title %}Изменение города страны {{ country.name }}{% endblock %}
{% block header %}Изменение города страны {{ country.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('countries') }}">Страны</a></li>
    <li class="breadcrumb-item"><a href="{{ path('towns', {'countryID': country.id, 'page': app.session.get('page/towns')|default(1)}) }}">{{ country.name }}</a></li>
    <li class="breadcrumb-item">{{ town.name }}</li>
{% endblock %}

{% block body %}
    {{ include('app/contacts/towns/_form.html.twig') }}
{% endblock %}