{% extends 'base.html.twig' %}

{% block title %}Прикрепить фото {{ zapGroup.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('card.categories') }}">Категории товаров</a></li>
    <li class="breadcrumb-item"><a href="{{ path('card.categories.groups', {'zapCategoryID': zapCategory.id}) }}">{{ zapCategory.name }}</a></li>
    <li class="breadcrumb-item">Фото</li>
{% endblock %}

{% block body %}
    {{ include('app/card/groups/_formPhoto.html.twig') }}
{% endblock %}