<td>{{ order.user ? (order.user.owner ? order.user.owner.name : '') : '' }}</td>
<td class="text-center">
    {% if order.user and order.user.opt.id != 1 %}
        <i class="fas fa-check text-success"></i>
    {% endif %}
</td>
<td>{{ order.user ? order.user.fullNameOrOrganization : '' }}</td>
<td>
    {% if order.user and order.user.mainContact %}
        {{ town(order.user.mainContact.town.name, order.user.mainContact.town.region.name) }}
    {% endif %}
</td>
<td>{{ order.user ? phone_mobile(order.user.phonemob) : '' }}</td>
<td>{{ order.dateofadded|default(null) ? order.dateofadded|date(dateFormat|default('d.m.Y H:i')) : '' }}</td>