{% embed 'tables/table_simple.html.twig' %}

    {% block header %}{% endblock %}

    {% block table_header %}
        <th># заказа</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Дата</th>
        <th>Товары</th>
        <th>Последняя страница</th>
        {% if is_granted('create', 'Order') or is_granted('order_new_delete', 'Order') %}
            <th>Операции</th>
        {% endif %}
    {% endblock %}

    {% block table_body %}
        {% if orders is empty %}
            <tr>
                <td colspan="50" class="text-center">Записей нет</td>
            </tr>
        {% endif %}
        {% for userID, user in orders %}
            {% for orderID, order in user.orders %}
                <tr>
                    <td class="text-right">{{ order.orderID }}</td>
                    <td>
                        {% if is_granted('show', 'User') %}
                            <a href="{{ path('users.show', {'id': userID}) }}">{{ user.user ? user.user.fullNameOrOrganization : '' }}</a>
                        {% else %}
                            {{ user.user ? user.user.fullNameOrOrganization : '' }}
                        {% endif %}
                    </td>
                    <td>{{ user.user ? phone_mobile(user.user.phonemob) : '' }}</td>
                    <td>{{ order.dateofadded|default(null) ? order.dateofadded|date('d.m.Y H:i') : '' }}</td>
                    <td>
                        {% for good in order.goods %}
                            {{ good }}<br>
                        {% endfor %}
                    </td>
                    <td><a href="{{ order.lastOrderPage }}" target="_blank">{{ order.lastOrderPage }}</a></td>
                    {% if is_granted('create', 'Order') or is_granted('order_new_delete', 'Order') %}
                        <td class="text-center">
                            <div class="btn-group">
                                {% if is_granted('create', 'Order') %}
                                    <a href="{{ path('orders.activate', {'id': orderID}) }}"
                                       title="Активировать заказ">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted('order_new_delete', 'Order') %}
                                    <a href="{{ path('orders.delete', {'id': orderID}) }}"
                                       onclick="deleteItem(this, 'Вы уверены, что хотите удалить заказ?')"
                                       data-toggle="modal"
                                       data-target="#modalConfirm"
                                       class="text-danger"
                                       title="Удалить заказ">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
    {% endblock %}
{% endembed %}