<td></td>
<td>{{ form_widget(filter.schetNumber) }}</td>
<td>{{ form_widget(filter.expenseDocumentNumber) }}</td>
<td>{{ form_widget(filter.orderID) }}</td>
<td></td>
<td>{{ form_widget(filter.createrID) }}</td>
<td>{{ form_widget(filter.number) }}</td>
<td>
    <div>{{ form_widget(filter.providerID) }}</div>
    <div>{{ form_widget(filter.zapSkladID) }}</div>
</td>
<td></td>
<td></td>
<td></td>
<td>{{ form_widget(filter.incomeStatus) }}</td>
<td>{{ form_widget(filter.reserve) }}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>