{% extends 'base.html.twig' %}

{% block title %}Изменение сотрудника {{ manager.managerName.fullname }}{% endblock %}
{% block header %}{{ manager.managerName.fullname }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a
                href="{{ path('managers', {'page' : app.session.get('page/managers')|default(1)}) }}">Сотрудники</a>
    </li>
    <li class="breadcrumb-item">{{ manager.managerName.fullname }}</li>
{% endblock %}

{% block body %}

    {% include ('app/managers/_tabs.html.twig') %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-xl-6">
            <div class="block block-rounded">
                <div class="block-header block-header-default">Данные авторизации</div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-2 py-md-3">
                        <div class="col-sm-10 col-md-8">
                            {{ form_row(form.login) }}
                            {{ form_row(form.password) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="block block-rounded">
                <div class="block-header block-header-default">Доступ</div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-2 py-md-3">
                        <div class="col-sm-10 col-md-8">
                            {{ form_row(form.groups) }}
                            {{ form_row(form.isHide) }}
                            {{ form_row(form.isManager) }}
                            {% if (app.user.isAdmin or is_granted('ROLE_SUPER_ADMIN')) %}
                                {{ form_row(form.isAdmin) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="block block-rounded">
                <div class="block-header block-header-default">Имя</div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-2 py-md-3">
                        <div class="col-sm-10 col-md-8">
                            {{ form_row(form.name) }}
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.middlename) }}
                            {{ form_row(form.nick) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="block block-rounded">
                <div class="block-header block-header-default">Контактные данные</div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-2 py-md-3">
                        <div class="col-sm-10 col-md-8">
                            {{ form_row(form.phonemob) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.dateofmanager) }}
                            {{ form_row(form.sex) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="block block-rounded">
                <div class="block-header block-header-default">Аватар</div>
                <div class="block-content">
                    {{ form_row(form.photo) }}
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="block block-rounded">
                <div class="block-header block-header-default">Магазин</div>
                <div class="block-content">
                    {{ form_row(form.managerTypeID) }}
                    {{ form_row(form.sklads) }}
                    {{ form_row(form.zp_spare) }}
                    {{ form_row(form.zp_service) }}
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    {{ form_end(form) }}

{% endblock %}