{% extends 'base.html.twig' %}

{% block title %}Детали комплекта ЗЧ модели {{ kit.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('auto.marka') }}">Марки</a></li>
    <li class="breadcrumb-item"><a href="{{ path('auto.model', {'auto_markaID': kit.autoModel.marka.id}) }}">{{ kit.autoModel.marka.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('auto.model.show', {'auto_markaID': kit.autoModel.marka.id, 'id': kit.autoModel.id}) }}">{{ kit.autoModel.name }}</a></li>
    <li class="breadcrumb-item">Детали</li>
{% endblock %}

{% block body %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            <li class="nav-item">
                <a href="{{ path('card.kit.numbers.create', {'kitID': kit.id}) }}"
                   class="nav-link" title="Добавить деталь"><i
                            class="fas fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('card.kit.numbers.hide', {'kitID': kit.id}) }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Скрыть выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть выделенные поколения?')"><i
                            class="far fa-eye-slash"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('card.kit.numbers.unHide', {'kitID': kit.id}) }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Восстановить выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить поколения?')"><i
                            class="far fa-eye"></i></a>
            </li>
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Номер</th>
            <th>Количество</th>
            <th>Сортировка</th>
            <th>Операции</th>
        {% endblock %}

        {% block table_body %}
            {% if kit.numbers is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for kitNumber in kit.numbers %}
                <tr{{ (table_sortable|default(false) ? ' id=sortable_' ~ kitNumber.id : '') }}
                        class="{{ kitNumber.isHide ? 'text-muted' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': kitNumber.id} only %}
                    {% endif %}
                    <td>{{ kitNumber.number.value }}</td>
                    <td class="text-right">{{ kitNumber.quantity }}</td>
                    <td class="text-center{{ (table_sortable|default(false) ? ' sortable' : '') }}"
                        data-url="{{ path('card.kit.numbers.sort', {'id': kitNumber.id}) }}"
                        data-direction="asc">{{ kitNumber.sort }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('card.kit.numbers.edit', {'kitID': kit.id, 'id': kitNumber.id}) }}"
                               title="Изменить деталь">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{{ path('card.kit.numbers.delete', {'kitID': kit.id, 'id': kitNumber.id}) }}"
                               onclick="deleteItem(this, 'Вы уверены, что хотите удалить поколение?')"
                               data-toggle="modal"
                               data-target="#modalConfirm"
                               class="text-danger"
                               title="Удалить деталь">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
