{% extends 'base.html.twig' %}

{% block title %}Изменение пароля{% endblock %}
{% block header %}Изменение пароля{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('profile') }}">Профиль</a></li>
    <li class="breadcrumb-item">Изменение пароля</li>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="block block-rounded">
        <div class="block-header block-header-default">Ваш пароль</div>
        <div class="block-content">
            <div class="row justify-content-center py-sm-2 py-md-3">
                <div class="col-sm-10 col-md-8">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
