<td class="text-center" style="width: 50px;">
    <div class="custom-control custom-checkbox d-inline-block">
        <input type="checkbox" class="custom-control-input" id="{{ row|default('row') }}_{{ id }}" name="check-item[]" value="{{ id }}">
        <label class="custom-control-label" for="{{ row|default('row') }}_{{ id }}"></label>
    </div>
</td>