{% extends 'base.html.twig' %}

{% block title %}Изменение товара инвентаризации {{ inventarizationGood.zapCard.number.value }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a
                href="{{ path('inventarizations', {'page' : app.session.get('page/inventarization')|default(1)}) }}">Инвентаризации</a>
    </li>
    <li class="breadcrumb-item"><a
                href="{{ path('inventarizations.goods', {'id': inventarization.id, 'page' : app.session.get('page/inventarization')|default(1)}) }}">Инвентаризация №{{ inventarization.id }}</a>
    </li>
    <li class="breadcrumb-item">{{ inventarizationGood.zapCard.number.value }}</li>
{% endblock %}

{% block body %}
    {% include ('app/card/inventarizations/_tabs.html.twig') %}
    {% embed 'blocks/block_container.html.twig' %}
        {% block content %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.quantity_real) }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a class="ml-3 btn btn-secondary"
               href="{{ path('inventarizations.goods', {'id': inventarization.id, 'page' : app.session.get('page/inventarizationGood')|default(1)}) }}">Отменить</a>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}