{% extends 'blocks/block_container.html.twig' %}

{% block header %}
    {{ include ('blocks/block_header_default.html.twig', {'header': 'Изменение дополнительных параметров'}) }}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.countryID) }}
    {{ form_row(form.shop_typeID) }}
    {{ form_row(form.ed_izmID) }}

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('card.parts.show', {'id': zapCard.id}) }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}