{% extends 'base.html.twig' %}

{% block title %}Изменение доставки {{ delivery.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('shop.delivery') }}">Доставка</a></li>
    <li class="breadcrumb-item">{{ delivery.name }}</li>
{% endblock %}

{% block body %}
    {{ include('app/shop/delivery/_form.html.twig') }}
{% endblock %}