{% extends 'base.html.twig' %}

{% block title %}ТО {{ autoModification.nameWithGeneration }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('parts.price.to') }}">Модели автомобилей</a></li>
    <li class="breadcrumb-item"><a href="{{ path('parts.price.to.model', {'id' : autoModification.autoGeneration.model.id}) }}">{{ autoModification.autoGeneration.model.marka.name ~ ' ' ~ autoModification.autoGeneration.model.name }}</a></li>
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {% embed 'blocks/block_container.html.twig' %}
        {% block content %}

            <div class="list-group">
                {% for workPeriod in autoModification.workPeriods %}
                    <div><a class="list-group-item list-group-item-action" href="{{ path('parts.price.to.to', {'id' : workPeriod.id}) }}">{{ workPeriod.name }}</a></div>
                {% endfor %}
            </div>

        {% endblock %}
    {% endembed %}

{% endblock %}
