{% extends 'base.html.twig' %}

{% block title %}Изменение баланса поставщика {{ provider.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('providers') }}">Поставщики</a></li>
    <li class="breadcrumb-item"><a href="{{ path('providers.balance.history', {'providerID': provider.id}) }}">Взаиморасчеты
            поставщика</a></li>
    <li class="breadcrumb-item">Изменение</li>
{% endblock %}

{% block body %}
    {{ include('app/providers/balanceHistory/_form.html.twig') }}
{% endblock %}