{% extends 'blocks/block_container.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.label) }}
    {{ form_row(form.icon) }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('menu.actions', {'sectionID': section.id}) }}">Отменить</a>
    {{ form_end(form) }}
{% endblock %}