{% extends 'blocks/block_container.html.twig' %}
{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.name_short) }}
    {{ form_row(form.name) }}
    {{ form_row(form.isTorg) }}
    {{ form_row(form.koef) }}
    {{ form_row(form.optID) }}
    {{ form_row(form.isMain) }}

    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('sklads') }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}
