{% extends 'blocks/block_container.html.twig' %}
{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.firmID) }}
    {{ form_row(form.balance) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('users.balance.history', {'userID': user.id}) }}">Отменить</a>
    {{ form_end(form) }}
{% endblock %}

