{% extends 'blocks/block_container.html.twig' %}

{% block header %}
    {{ include ('blocks/block_header_default.html.twig', {'header': 'Загрузка с производителями'}) }}
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.createrID) }}
    {{ form_row(form.createrID2) }}
    {{ form_row(form.file) }}

    <button type="submit" class="btn btn-primary">{{ buttonName|default('Загрузить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('zamena.upload') }}">Отменить</a>
    {{ form_end(form) }}
{% endblock %}

