{% extends 'base.html.twig' %}

{% block title %}Изменение банка {{ bank.name }}{% endblock %}
{% block header %}{{ bank.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('finance.banks') }}">Банки</a></li>
    <li class="breadcrumb-item">{{ bank.name }}</li>
{% endblock %}

{% block body %}

    {{ include('app/beznals/banks/_form.html.twig') }}

{% endblock %}