{% extends 'blocks/block_container_simple.html.twig' %}
{% block block_content %}

    <div class="block-header block-header-default">
        <h3 class="block-title">Модификации</h3>
    </div>

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            <li class="nav-item">
                <a href="{{ path('auto.modification.create', {'auto_generationID': autoGeneration.id}) }}"
                   class="nav-link" title="Добавить модификацию"><i
                            class="fas fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('auto.modification.hide', {'auto_generationID': autoGeneration.id}) }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Скрыть выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть выделенные модификации?')"><i
                            class="far fa-eye-slash"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('auto.modification.unHide', {'auto_generationID': autoGeneration.id}) }}" class="nav-link" data-class="text-muted"
                   data-toggle="modal"
                   data-target="#modalConfirm" title="Восстановить выделенные"
                   onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить модификации?')"><i
                            class="far fa-eye"></i></a>
            </li>
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Наименование</th>
            <th>Операции</th>
        {% endblock %}

        {% block table_body %}
            {% if modifications is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for modification in modifications %}
                <tr class="{{ modification.isHide ? 'text-muted' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': modification.auto_modificationID} only %}
                    {% endif %}
                    <td>{{ modification.name }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('auto.work.period', {'auto_modificationID': modification.auto_modificationID}) }}"
                               title="ТО">
                                <i class="fas fa-wrench"></i>
                            </a>
                            <a href="{{ path('auto.modification.edit', {'auto_generationID': autoGeneration.id, 'id': modification.auto_modificationID}) }}"
                               title="Изменить модификацию">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{{ path('auto.modification.delete', {'auto_generationID': autoGeneration.id, 'id': modification.auto_modificationID}) }}"
                               onclick="deleteItem(this, 'Вы уверены, что хотите удалить модификацию?')"
                               data-toggle="modal"
                               data-target="#modalConfirm"
                               class="text-danger"
                               title="Удалить модификацию">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
