{% extends 'base.html.twig' %}

{% block title %}Авторизации сотрудника {{ manager.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {% include ('app/managers/_tabs.html.twig') %}

    {{ form_start(filter) }}

    {% embed 'tables/table_full.html.twig' %}

        {% block header_buttons %}{% endblock %}

        {% set reset_path = path('managers.auth', {'managerID': manager.id, 'reset' : 1}) %}
        {% block header_form %}
            <li class="nav-item">{{ form_widget(filter.inPage) }}</li>
            <li class="nav-item">{{ form_widget(filter.dateofadded) }}</li>
            {{ parent() }}
            {% include 'tables/table_settings_dropdown_menu.html.twig' %}
        {% endblock %}

        {% block table_header %}
            <th>{{ knp_pagination_sortable(pagination, 'Дата', 'dateofadded') }}</th>
            <th>IP</th>
        {% endblock %}

        {% block filters %}
            <th></th>
            <th>{{ form_widget(filter.ip) }}</th>
        {% endblock %}

        {% block table_body %}
            {% if pagination is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for auth in pagination %}
                <tr class="{{ auth.type == 1 ? 'text-success' : 'text-danger' }}">
                    <td>{{ auth.dateofadded|date('d.m.Y H:i:s') }}</td>
                    <td>{{ auth.ip }}</td>
                </tr>
            {% endfor %}
        {% endblock %}

    {% endembed %}
    {{ form_end(filter) }}

{% endblock %}
