{% extends 'base.html.twig' %}

{% block title %}Добавление шаблона{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('template.groups') }}">Группы шаблонов</a></li>
    <li class="breadcrumb-item"><a href="{{ path('templates', {'id': templateGroup.id}) }}">Шаблоны</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/users/templates/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}