{% extends 'base.html.twig' %}

{% block title %}Шаблоны{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('template.groups') }}">Группы шаблонов</a></li>
    <li class="breadcrumb-item">Шаблоны</li>
{% endblock %}

{% block body %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            {% if is_granted('create', 'Template') %}
                <li class="nav-item">
                    <a href="{{ path('templates.create', {'id': templateGroup.id}) }}" class="nav-link" title="Добавить шаблон"><i
                                class="fas fa-plus"></i></a>
                </li>
            {% endif %}
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>#</th>
            <th>Наименование</th>
            {% if is_granted('edit', 'Template') or is_granted('delete', 'Template') %}
                <th>Операции</th>
            {% endif %}
        {% endblock %}

        {% block table_body %}
            {% if templates is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for template in templates %}
                <tr>
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': template.templateGroupID} only %}
                    {% endif %}
                    <td>{{ template.templateID }}</td>
                    <td>{{ template.name }}</td>
                    {% if is_granted('edit', 'Template') or is_granted('delete', 'Template') %}
                        <td class="text-center">
                            <div class="btn-template">
                                {% if is_granted('edit', 'Template') %}
                                    <a href="{{ path('templates.edit', {'id': template.templateID, 'templateGroupID': template.templateGroupID}) }}"
                                       title="Изменить шаблон">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted('delete', 'Template') %}
                                    <a href="{{ path('templates.delete', {'id': template.templateID}) }}"
                                       onclick="deleteItem(this, 'Вы уверены, что хотите удалить шаблон?')"
                                       data-toggle="modal"
                                       data-target="#modalConfirm"
                                       class="text-danger"
                                       title="Удалить шаблон">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
