{% extends 'base.html.twig' %}

{% block title %}Изменение типа документа {{ type.name }}{% endblock %}
{% block header %}{{ type.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('documents.types') }}">Типы документов</a></li>
    <li class="breadcrumb-item">{{ type.name }}</li>
{% endblock %}

{% block body %}
    {{ include('app/documents/types/_form.html.twig') }}
{% endblock %}