{% extends 'blocks/block_group.html.twig' %}
{% block header %}
    {{ include('blocks/block_header.html.twig', {'header': 'Дробная часть'}) }}
{% endblock %}
{% block content %}
    {{ form_row(form.fract_name) }}
    {{ form_row(form.fract_1) }}
    {{ form_row(form.fract_2) }}
    {{ form_row(form.fract_5) }}

    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('currency') }}">Отменить</a>
{% endblock %}