{% extends 'base.html.twig' %}

{% block title %}Изменение валюты {{ currency.name }}{% endblock %}
{% block header %}{{ currency.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('currency') }}">Валюта</a></li>
    <li class="breadcrumb-item">{{ currency.name }}</li>
{% endblock %}

{% block body %}
    {{ include('app/finance/currency/_form.html.twig') }}
{% endblock %}