{% extends 'base.html.twig' %}

{% block title %}Изменение секции меню {{ section.name }}{% endblock %}
{% block header %}{{ section.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('menu.groups') }}">Группы меню</a></li>
    <li class="breadcrumb-item"><a
                href="{{ path('menu.sections', {'groupID': group.id, 'parentID': 0}) }}">{{ group.name }}</a></li>
    {% for breadCrumb in arBreadCrumb %}
        {% if (not breadCrumb.url|default(false)) %}
            <li class="breadcrumb-item">{{ breadCrumb.name }}</li>
        {% else %}
            <li class="breadcrumb-item">
                <a href="{{ path('menu.sections', {'groupID': group.id, 'parentID': breadCrumb.data.id}) }}">{{ breadCrumb.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    {{ include('app/menu/sections/_form_edit.html.twig') }}
{% endblock %}