{% extends 'base.html.twig' %}

{% block title %}Изменение фото модели {{ autoModel.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('auto.marka') }}">Марки</a></li>
    <li class="breadcrumb-item"><a href="{{ path('auto.model', {'auto_markaID': autoMarka.id}) }}">{{ autoMarka.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('auto.model.show', {'auto_markaID': autoMarka.id, 'id': autoModel.id}) }}">{{ autoMarka.name }}</a></li>
    <li class="breadcrumb-item">{{ autoModel.name }}</li>
{% endblock %}

{% block body %}
    {{ include('app/auto/model/photo/_form.html.twig') }}
{% endblock %}