{% extends 'base.html.twig' %}

{% block title %}Добавление региона страны {{ country.name }}{% endblock %}
{% block header %}Добавление региона страны {{ country.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('countries') }}">Страны</a></li>
    <li class="breadcrumb-item"><a href="{{ path('townRegions', {'countryID': country.id, 'page': app.session.get('page/townRegions')|default(1)}) }}">{{ country.name }}</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/contacts/regions/_form.html.twig') }}
{% endblock %}