{% embed 'tables/table_simple.html.twig' %}

    {% block header_buttons %}{% endblock %}

    {% block table_header %}
        <th>Файл</th>
        <th>Поставщик</th>
        <th>Производитель</th>
        <th>Дата</th>
        <th>Комментарий</th>
    {% endblock %}

    {% block table_body %}
        {% for log in all %}
            <tr class="{{ "Добавлено" in log.comment ? "table-success" : ("Удалено" in log.comment ? "table-danger" : "table-warning") }}">
                <td>{{ log.price }}</td>
                <td>{{ log.providerName }}</td>
                <td>{{ log.createrName }}</td>
                <td>{{ log.dateofadded|date('d.m.Y H:i:s') }}</td>
                <td>{{ log.comment }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
