{% extends 'blocks/block_container.html.twig' %}

{% block header %}
    {{ include ('blocks/block_header_default.html.twig', {'header': 'Принадлежность'}) }}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.isReviewSend) }}
    {{ form_row(form.isReview) }}
    {{ form_row(form.reviewUrl) }}

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('users.dop', {'id': user.id}) }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}