{% extends 'base.html.twig' %}

{% block title %}Изменение автомобиля клиента{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('users') }}">Клиенты</a></li>
    <li class="breadcrumb-item"><a href="{{ path('users.show', {'id': user.id}) }}">{{ user.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('users.auto', {'userID': user.id}) }}">Автомобили</a></li>
    <li class="breadcrumb-item">Изменение</li>
{% endblock %}

{% block body %}
    {% include ('app/users/_tabs.html.twig') %}
    {{ include('app/auto/users/_form.html.twig') }}
{% endblock %}