{% extends 'base.html.twig' %}

{% block title %}Виды товаров{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            {% if is_granted('create', 'ShopType') %}
                <li class="nav-item">
                    <a href="{{ path('shop.types.create') }}" class="nav-link"
                       title="Добавить вид товаров"><i class="fas fa-plus"></i></a>
                </li>
            {% endif %}
            {% if is_granted('hide', 'ShopType') %}
                <li class="nav-item">
                    <a href="{{ path('shop.types.hide') }}" class="nav-link"
                       data-class="text-muted" data-toggle="modal"
                       data-target="#modalConfirm" title="Скрыть выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть виды товаров?')"><i
                                class="far fa-eye-slash"></i></a>
                </li>
            {% endif %}
            {% if is_granted('unhide', 'ShopType') %}
                <li class="nav-item">
                    <a href="{{ path('shop.types.unHide') }}" class="nav-link"
                       data-class="text-muted"
                       data-toggle="modal"
                       data-target="#modalConfirm" title="Восстановить выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить виды товаров?')"><i
                                class="far fa-eye"></i></a>
                </li>
            {% endif %}
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Наименование</th>
            {% if is_granted('edit', 'ShopType') or is_granted('delete', 'ShopType') %}
                <th>Операции</th>
            {% endif %}
        {% endblock %}

        {% block table_body %}
            {% if shopTypes is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for shopType in shopTypes %}
                <tr class="{{ shopType.isHide ? ' text-muted' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': shopType.shop_typeID} only %}
                    {% endif %}
                    <td>{{ shopType.name }}</td>
                    {% if is_granted('edit', 'ShopType') or is_granted('delete', 'ShopType') %}
                        <td class="text-center">
                            <div class="btn-group">
                                {% if is_granted('edit', 'ShopType') %}
                                    <a href="{{ path('shop.types.edit', {'id': shopType.shop_typeID}) }}"
                                       title="Изменить вид товаров">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted('delete', 'ShopType') and not shopType.noneDelete %}
                                    <a href="{{ path('shop.types.delete', {'id': shopType.shop_typeID}) }}"
                                       onclick="deleteItem(this, 'Вы уверены, что хотите удалить вид товаров?')"
                                       data-toggle="modal"
                                       data-target="#modalConfirm"
                                       class="text-danger"
                                       title="Удалить вид товаров">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
