{% extends 'base.html.twig' %}

{% block title %}Изменение организации сотрудника {{ manager.name }}{% endblock %}
{% block header %}{{ firm.firm.nameShort }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('managers') }}">Сотрудники</a></li>
    <li class="breadcrumb-item"><a href="{{ path('managers.edit', {'id': manager.id}) }}">{{ manager.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('managers.firms', {'managerID': manager.id}) }}">Организации</a></li>
    <li class="breadcrumb-item">{{ firm.firm.nameShort }}</li>
{% endblock %}

{% block body %}
    {{ include('app/managers/managerFirms/_form.html.twig') }}
{% endblock %}