{% extends 'base.html.twig' %}

{% block title %}Детали комплекта {{ zapCardKit.name }}{% endblock %}
{% block header %}Детали комплекта {{ zapCardKit.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('parts.price.kits') }}">Модели автомобилей</a></li>
    <li class="breadcrumb-item"><a
                href="{{ path('parts.price.kits.model', {'id' : zapCardKit.autoModel.id}) }}">{{ zapCardKit.autoModel.marka.name ~ ' ' ~ zapCardKit.autoModel.name }}</a>
    </li>
    <li class="breadcrumb-item">{{ block('header') }}</li>
{% endblock %}

{% block body %}

    {{ form_start(form, {'name': 'work', 'attr': {'novalidate': 'novalidate', 'onsubmit': 'kitOrderAdd(this, event)'}}) }}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}{% endblock %}

        {% block header_form %}{% endblock %}

        {% block table_header %}
            <th class="text-center" style="width: 50px;">
                <div class="custom-control custom-checkbox d-inline-block">
                    <input type="checkbox" class="custom-control-input" id="check-all" name="check-all" checked>
                    <label class="custom-control-label" for="check-all"></label>
                </div>
            </th>
            <th>Наименование</th>
            <th>Бренд</th>
            <th>Номер</th>
            <th>Поставщик</th>
            <th>Срок</th>
            <th>Цена</th>
        {% endblock %}

        {% block table_filter %}
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <select id="form_zapSkladID" name="zapSkladID"
                        class="custom-select custom-select-sm form-control-alt ml-1 form-control">
                    <option value="">Склад</option>
                    {% for id, sklad in sklads %}
                        <option value="{{ id }}">{{ sklad }}</option>
                    {% endfor %}
                </select>
            </th>
            <th><input class="btn btn-primary btn-sm" onclick="skladChange()" type="button" value="Пересчитать"></th>
            <th></th>
        {% endblock %}

        {% block table_body %}
            {% if parts is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for item in parts %}
                {% if item.parts|length > 0 %}
                    {{ include('app/detail/kits/kit/index.html.twig', {'workGroupID': zapCardKit.id, 'group': item}) }}
                {% endif %}
            {% endfor %}
        {% endblock %}
        {% block pagination %}
            <div class="text-right font-weight-bold">
                Итого: <span class="text-danger"><span id="workSum"></span> р.</span>
            </div>
        {% endblock %}
    {% endembed %}


    {% embed 'blocks/block_container_full.html.twig' %}
        {% block content %}

            <div>
                <div>
                    {{ form_row(form.user) }}
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Оформить заказ">
                </div>
            </div>

        {% endblock %}
    {% endembed %}

    {{ form_end(form) }}

    {{ include('app/detail/kits/kit/script.html.twig') }}

{% endblock %}
