{% extends 'base.html.twig' %}

{% block title %}Производитель {{ creater.name }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a
                href="{{ path('creaters', {'page' : app.session.get('page/creaters')|default(1)}) }}">Производители</a>
    </li>
    <li class="breadcrumb-item">{{ creater.name }}</li>
{% endblock %}

{% block body %}

    {% if (edit == 'main') %}
        {{ include('app/detail/creaters/main/edit.html.twig') }}
        {# {% elseif (edit == 'num') %} #}
        {# {{ include('app/providers/prices/num/edit.html.twig') }} #}
    {% endif %}

    <div class="row">
        <div class="col-xl-6">
            {{ include('app/detail/creaters/main/index.html.twig') }}
        </div>
        <div class="col-xl-6">
        </div>
    </div>

{% endblock %}