<table class="table table-striped border">
    <tr>
        <th>Производитель</th>
        <th>Номер</th>
        <th>Откуда</th>
        <th>Ячейка</th>
        <th>Всего</th>
        <th>Оприходовано</th>
        <th></th>
    </tr>

    {% for expenseSklad in expenseSklads %}
        {% if (expenseSklad.quantityIncome > 0) %}
        <tr>
            <td>{{ expenseSklad.creater_name }}</td>
            <td>{{ expenseSklad.number }}</td>
            <td>{{ expenseSklad.zapSklad }}</td>
            <td>{{ expenseSklad.location|nl2br }}</td>
            <td>{{ expenseSklad.quantity }}</td>
            <td>{{ expenseSklad.quantityIncome }}</td>
            <td>
                <a href="{{ path('sklads.income.scan.delete', {'id': zapSklad.id, 'zapCardID': expenseSklad.zapCardID, 'zapSkladID': expenseSklad.zapSkladID}) }}"
                   onclick="deleteItem(this, 'Вы уверены, что хотите отменить приход данной детали?')"
                   data-toggle="modal"
                   data-target="#modalConfirm"
                   class="text-danger"
                   title="Отменить приход детали">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>