{% extends 'blocks/block_container.html.twig' %}
{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.managers) }}
    {{ form_row(form.isHideUser) }}
    {{ form_row(form.isClose) }}

    <button type="submit" class="btn btn-primary">{{ buttonName|default('Сохранить') }}</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('client-tickets.groups') }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}