{% extends 'blocks/block_container.html.twig' %}

{% block header %}
    {{ include ('blocks/block_header_default.html.twig', {'header': 'Изменение автоматической рассылки заказов приходов'}) }}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.isIncomeOrderAutoSend) }}
    {{ form_row(form.incomeOrderWeekDays) }}
    {{ form_row(form.incomeOrderTime) }}

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('providers.show', {'id': provider.id}) }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}