{% extends 'blocks/block_container_half.html.twig' %}
{% block header %}
    <div class="block-header block-header-default">
        <h3 class="block-title">Тексты для сайта</h3>
        <div class="block-options">
            <a type="button" class="btn btn-sm btn-alt-primary"
               href="{{ path('auto.model.description.spare', {'auto_markaID': autoMarka.id, 'id': autoModel.id}) }}"
               title="Изменить текст запчастей"><i class="fas fa-cogs"></i></a>
            <a type="button" class="btn btn-sm btn-alt-primary"
               href="{{ path('auto.model.description.acs', {'auto_markaID': autoMarka.id, 'id': autoModel.id}) }}"
               title="Изменить текст аксессуаров"><i class="fas fa-car-battery"></i></a>
            <a type="button" class="btn btn-sm btn-alt-primary"
               href="{{ path('auto.model.description.tuning', {'auto_markaID': autoMarka.id, 'id': autoModel.id}) }}"
               title="Изменить текст тюнинга"><i class="fas fa-tachometer-alt"></i></a>
            <a type="button" class="btn btn-sm btn-alt-primary"
               href="{{ path('auto.model.description.service', {'auto_markaID': autoMarka.id, 'id': autoModel.id}) }}"
               title="Изменить текст ремонта"><i class="fas fa-wrench"></i></a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <p>
    <strong>Запчасти: </strong>
    {% if (autoModel.description.spare is empty) %}
        {{ check_empty('', 'нет') }}
    {% else %}
        <div class="html-text-block">
            {{ autoModel.description.spare|raw }}
        </div>
    {% endif %}
    </p>
    <p>
    <strong>Аксессуары: </strong>
    {% if (autoModel.description.acs is empty) %}
        {{ check_empty('', 'нет') }}
    {% else %}
        <div class="html-text-block">
            {{ autoModel.description.acs|raw }}
        </div>
    {% endif %}
    </p>
    <p>
    <strong>Тюнинг: </strong>
    {% if (autoModel.description.tuning is empty) %}
        {{ check_empty('', 'нет') }}
    {% else %}
        <div class="html-text-block">
            {{ autoModel.description.tuning|raw }}
        </div>
    {% endif %}
    </p>
    <p>
    <strong>Ремонт: </strong>
    {% if (autoModel.description.service is empty) %}
        {{ check_empty('', 'нет') }}
    {% else %}
        <div class="html-text-block">
            {{ autoModel.description.service|raw }}
        </div>
    {% endif %}
    </p>
{% endblock %}