{% extends 'blocks/block_container.html.twig' %}

{% block header %}
    {{ include ('blocks/block_header_default.html.twig', {'header': 'Изменение цены в прайс-листах'}) }}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.price_groupID) }}
    {{ form_row(form.is_price_group_fix) }}

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="ml-3 btn btn-secondary" href="{{ path('card.parts.prices', {'id': zapCard.id}) }}">Отменить</a>
    {{ form_end(form) }}

{% endblock %}