{% embed 'blocks/block_container.html.twig' %}
    {% block content %}

        {% embed 'tables/table_simple.html.twig' %}
            {% block header_buttons %}{% endblock %}

            {% block table_header %}
                <th>Тип</th>
                <th>#</th>
                <th>Дата</th>
                <th>От кого</th>
                <th>Кому</th>
                <th></th>
            {% endblock %}

            {% block table_body %}
                {% for doc in all %}
                    <tr>
                        <td>{{ doc.doc_type_name }}</td>
                        <td>{{ doc.document_num }}</td>
                        <td>{{ doc.dateofadded|date('d.m.Y') }}</td>
                        <td>
                            {% if is_granted('edit', 'Firm') %}
                                <a href="{{ path('firms.edit', {'id': doc.firmID}) }}">{{ doc.from_name }}</a>
                            {% else %}
                                {{ doc.from_name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('show', 'User') %}
                                <a href="{{ path('users.show', {'id': doc.userID}) }}">{{ doc.to_name }}</a>
                            {% else %}
                                {{ doc.to_name }}
                            {% endif %}
                        </td>
                        <td>
                            <a type="button" class="btn btn-sm btn-alt-primary confirmModal"
                               data-toggle="modal" data-target="#modalConfirm"
                               href="{{ path('shippings.create', {'expenseDocumentID': doc.id}) }}"
                               onclick="confirmModalAndRedirectToUrl(this, 'Вы уверены, что хотите создать отгрузку на основе этой накладной?')"
                               title="Отправить данные по E-mail и SMS"><i class="fas fa-angle-double-right"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}

    {% endblock %}
{% endembed %}