{% extends 'base.html.twig' %}

{% block title %}Изменение идентификационного документа {{ identification.name }}{% endblock %}
{% block header %}{{ identification.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('documents.identifications') }}">Идентификационные документы</a></li>
    <li class="breadcrumb-item">{{ identification.name }}</li>
{% endblock %}

{% block body %}
    {{ include('app/documents/identifications/_form.html.twig') }}
{% endblock %}