{% extends 'base.html.twig' %}

{% block title %}Документы организации {{ firm.nameShort }}{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('firms') }}">Организации</a></li>
    <li class="breadcrumb-item"><a href="{{ path('firms.edit', {'id': firm.id}) }}">{{ firm.nameShort }}</a></li>
    <li class="breadcrumb-item">Документы</li>
{% endblock %}

{% block body %}

    {% include ('app/firms/_tabs.html.twig') %}

    {% embed 'tables/table_simple.html.twig' %}

        {% block header_buttons %}
            {% if is_granted('documents_change', firm) %}
                <li class="nav-item">
                    <a href="{{ path('firms.documents.create', {'firmID': firm.id}) }}"
                       title="Добавить документ организации" class="nav-link"><i
                                class="fas fa-plus"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('firms.documents.hide', {'firmID': firm.id}) }}" class="nav-link" data-class="text-muted" data-toggle="modal"
                       data-target="#modalConfirm" title="Скрыть выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите скрыть выделенные документы организации?')"><i
                                class="far fa-eye-slash"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('firms.documents.unHide', {'firmID': firm.id}) }}" class="nav-link" data-class="text-muted"
                       data-toggle="modal"
                       data-target="#modalConfirm" title="Восстановить выделенные"
                       onclick="confirmFromCheckbox(this, 'Вы уверены, что хотите восстановить выделенные документы организации?')"><i
                                class="far fa-eye"></i></a>
                </li>
            {% endif %}
        {% endblock %}
        {% block settings %}{% endblock %}

        {% block table_header %}
            <th>Документ</th>
            <th>Номер</th>
            {% if is_granted('documents_change', firm) %}
                <th>Операции</th>
            {% endif %}
        {% endblock %}

        {% block table_body %}
            {% if documents is empty %}
                <tr>
                    <td colspan="50" class="text-center">Записей нет</td>
                </tr>
            {% endif %}
            {% for document in documents %}
                <tr class="{{ document.isHide ? ' text-muted' : '' }}{{ document.isMain ? ' font-weight-bold' : '' }}">
                    {% if (table_checkable|default(false)) %}
                        {% include 'tables/td_checkbox.html.twig' with {'id': document.documentID} only %}
                    {% endif %}
                    <td>{{ document.document_identification }}</td>
                    <td>{{ document.number }}</td>
                    {% if is_granted('documents_change', firm) %}
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{{ path('firms.documents.edit', {'firmID': firm.id, 'id': document.documentID}) }}"
                                   title="Изменить документ организации">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{{ path('firms.documents.delete', {'firmID': firm.id, 'id': document.documentID}) }}"
                                   onclick="deleteItem(this, 'Вы уверены, что хотите удалить документ организации?')"
                                   data-toggle="modal"
                                   data-target="#modalConfirm"
                                   class="text-danger"
                                   title="Удалить документ организации">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
